body{
    margin: 0;
    height: 100vh;
    background: #006400;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    text-align: center;
}
h1{
    color: goldenrod;
}
button{
    width: 150px;
    padding: 5px 0;
    border: 0;
    border-radius: 2px;
    background: #daa520;
    color: darkgreen;
    font-weight: bold;
}
.search-button{
     width: 50px;
}
input{
    border: 1px solid white;
    background:darkgreen; 
    color: white;
    padding: 3px;
    font-weight: bold;
}
button:hover{
    border: 1px solid white;
}
 button:focus{
    border: 1px solid white;
} 
.buttons-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-1 > *{
    margin: 2px 0;
}